/* ADMIN STYLES
=============== */
.header {
  display: block;
  width: 100%;
  height: 108px;
  background: url(wotw.png) no-repeat center center;
  margin-bottom: 40px;
  background-size: contain;
}

.container {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.current-sites-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 1.6rem;
}

.current-sites-table tr {
  width: 100%;
}

.current-sites-table,
.current-sites-table td,
.current-sites-table tr,
.current-sites-table th {
  border-left: 0 solid #ccc;
  border-right: 0 solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}

.user-form {
  font-size: 1.6rem;
}

.user-form input {
  font-size: 1.6rem;
  border-radius: 6px;
}

.add-new {
  -moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
  background: -moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: -webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: -o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
  background-color: #b8e356;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #86ae47;
  width:  250px;
  text-align:  center;
}

.add-new:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
  background: -moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
  background: -webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
  background: -o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
  background: -ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
  background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
  background-color: #a5cc52;
}

.add-new:active {
  position: relative;
  top: 1px;
}

.archive {
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background: -moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: -webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: -o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: -ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
  background-color: #ffc477;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
    width:  250px;
    text-align:  center;
}

.archive:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background: -moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: -webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: -o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: -ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
  background-color: #fb9e25;
}

.archive:active {
  position: relative;
  top: 1px;
}

label {
  display: block;
  margin: 14px;
}

table.archive-list tr:nth-child(2) {
  background: #0f0;
}


img {
  border: 2px solid #009fe3;
}

img:focus, img:hover {
  border: 2px solid #263780;
}

/* nav
====== */
.admin-nav {
  margin-bottom: 40px;
}

.admin-nav ul {
  display: block;
  list-style-type: none;
  width: auto;
  margin: 0 auto;
}

.admin-nav ul li {
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
  margin: 0 10px;
}

.admin-nav ul li:focus, .admin-nav ul li:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color:#019ad2;
}

.admin-nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}

.delete-user {
  -moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
  box-shadow:inset 0px 1px 0px 0px #f9eca0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
  background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
  background-color:#f0c911;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #e65f44;
  display:inline-block;
  cursor:pointer;
  color:#c92200;
  padding:0 2px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ded17c;
}

.delete-user input {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: none;
  border: none;
  color:#c92200;
  font-family:Arial;
  font-size:1.6rem;
  font-weight:bold;
}

.delete-user:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
  cursor: pointer;
}

.delete-user input:hover {
  cursor: pointer;
}
